/*siempre resetea santy acordate*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Simpsonfont;
  src: url(fuente/Simpsonfont.ttf);
}

html {
  height: 100%;
}

body {
  font-family: Simpsonfont;
  src: url(fuente/Simpsonfont.ttf);
  font-size: 1.2rem;
 /* background-image:repeating-linear-gradient(#7217c7,#5c0979,#ff00f1);*/
  background-image:repeating-linear-gradient(#7217c7,#5c0979,#ededed); 
}

.grid-container>* {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: cabeza;
 
}

.menu {
  grid-area: menu;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #8c96a0;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "cabeza"100px "menu"50px "main"auto "footer"100px;
}

@media (min-width: 600px) {
  .grid-container {
    /* grid-template-columns: 200px auto;
      grid-template-rows: 100px 50px auto 100px;
      grid-template-areas: 
      "header  header"
      "navbar  navbar"
      "main"
      "footer  footer"; */

    grid-template:
      "cabeza"100px "menu"50px "main"auto "footer footer"100px / 200px auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header"100px "menu    main"auto "footer  footer footer"100px / 200px auto 200px;
  }
}

/*el header   */

.cabeza {
  display: flex;
  background-image: url(/img/beasim.jpg);
  justify-content: center;
  margin: 8px;
  align-items: flex-start;
}

.cabeza:hover{
  transform: rotate(2deg);
  transition-duration: 1.5s;
  transition-delay: 0.1s;
}

.cabeza h1 {
  font-size: 1.8rem;
  color: #C53CA1;
}

/* el menu empezamos a flexiarlo tuki tuki*/
.menu:hover {
  transform: rotate(2deg);
  transition-duration: 1.5s;
  transition-delay: 0.3s; 
}

.menu {
  display: flex;
  background-image: url(/img/fondo.jpg);
  justify-content: center;
  flex-direction: row;
}

.menu .lista {
  list-style: none;
  display: inline-flex;
  margin-top: 1px;
}

.lista li a:hover {
  background-color: rgb(101, 30, 101);
  overflow: hidden;
}

.lista li a {
  /* margin: 1rem 12px;*/
  margin-top: 0%;
  /* text-align: center;*/
  color: #C53CA1;
  padding: 1rem 25px;
  text-decoration: none;
}

/* el menu TERMINO aca*/

/* VAMOS CON EL H2*/

.main{
  display: flex;
  
}
.main h2{
  margin: 12px 1rem;
  padding-bottom:1rem;
  color: #C53CA1;
}
/*termina h2*/
.imgsHomero{
  display: flex;
  justify-content:center;
  border-radius: 1rem;
  justify-content: space-evenly;
  background-image: url(/img/fondo.jpg);
}

.imgsHomero .videoHomero{
  margin: 1em;
  border-radius: 1rem;
  border: 0.2em black solid;
  
 
}
.imgsHomero img{
  margin: 1em;
  border-radius: 1rem;
  border: 0.2em black solid;
}
/* empieza el h4*/
.hCuatro:hover{
  transform: scale(1.1);
}

.main .padreImgs{
display: flex;
flex-flow: row;
flex-direction:;
justify-content: space-evenly
}
.tipoHomero img:hover{
transform: scale(1.5);
}
.tipoHomero{

margin: 10px;
border-top-left-radius: 50%;
border-top-right-radius: 25%;
}
.padreImgs .tipoHomero img{
width: 12rem;
height:140px;
margin: 25px;
padding: 2px;
border:5px black solid;
border-top-left-radius: 50% 50%;
border-top-right-radius: 50% 50%;
border-bottom-right-radius: 50% 50%;
border-bottom-left-radius: 50% 50%;
}
/* el footer*/
.footer{
  background-image: url(/img/beasim3\ -\ copia.jpg);
  display: flex;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  color: #C53CA1;
  align-content: flex-start;
}
.footer:hover{
  transform: rotate(2deg);
  transition-duration: 1.5s;
  transition-delay: 0.1s;
}
/* modifico la imagen del articulo de ELLOS SON!!!! OSEA EMPIEZA ARTICLE*/

.main .img2{
  height: 480px;
  margin: 1em;
  border-radius: 1rem;
  border: 0.2em black solid;
}

.main .pArticulo{
  color: #C53CA1;
  padding: 1rem;
  margin: 1rem;
}
.pArticulo:hover{
  transform: scale(1.1);
  background-color: rgb(61, 5, 50);
}
.pArticulo{
 /* background-color:#5d1e4c;*/
 background-color: antiquewhite;
}
/*contacto*/
.videoLobo1{
  height: 100%;
  display: flex;
  justify-content:center;
  border-radius: 1rem;
  justify-content: space-evenly;  
}


/* remeras de bart con BOOTSTRAP*/

/* el header*/
.container-fluid header h1{
  color: #C53CA1;
}
.container-fluid header{
  margin: 13px;
}
.container-fluid header:hover{
  transform: rotate(2deg);
  transition-duration: 1.5s;
  transition-delay: 0.1s;
}
/* el menu(nav)*/
.container-fluid nav{
  margin: 13px;
}
.container-fluid nav:hover{
  transform: rotate(2deg);
  transition-duration: 1.5s;
  transition-delay: 0.1s;
}
.nav-link:hover{
  transform: scale(1.1);
  background-color: #C53CA1;
}
/*termina menu*/
/*============*/
/* aca empieza el main*/

section{
  padding-top: 15px;
}
main article h2{
  padding: 15px;
  
}
/* cards*/
.col-2{
  margin: 20px;
  padding: 1rem;
}
.card-img-top:hover{
  transform: translateY(-15px);
  box-shadow:0 12px 16px rgb(0,0,0,7)
}
.container .card-body{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0,0,0,5);
  
}
.container .col-2{
  background-color: whitesmoke;
  background-image:url(/img/fondo.jpg) ;
}
/* termina cards*/
/*==============*/
